{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
    {# Run `composer require symfony/webpack-encore-bundle`
       and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}

{% block body %}
    <div style="  margin: auto;
            width: 15%;
    ">
        <button style="background-color: #55d3d2;
        border: none;
        outline: none;
        margin-top: 50px;
        border-radius: 100px;
        width: 200px;
        height: 42px;
    ">
            <a href="{{ link_stripe }}" style="text-decoration: none;
        color: white;">Billing Info with Stripe</a>
        </button>
    </div>
{% endblock %}

